body {
      font-family: Georgia, 
                   "Times New Roman", 
                   Times, 
                   serif;
      font-size:        small;
      margin:           0px;
}


#allcontent {
       width:            800px;
       padding-top:      5px;
       padding-bottom:   5px;
       background-color: #675c47;
       margin-left:      auto;
       margin-right:     auto;
}

#sidebar {
          background: 
               #efe5d0 
               url(image/background.gif) 
               bottom right;
          font-size:   105%;
          padding:     15px;
          margin:      0px 10px 10px 10px;
          position:    absolute;
          top:         128px;
          width:       280px;
          float:       right;
}

#prise {
   position:  absolute;
   top: 30px;
   left: 365px;
}


#header {
         background-color: #675c47;
         width:            500px;
         margin:           140px 0 0 20px;
         padding-bottom:   5px;
}

#main {
       background: 
          #efe5d0 
          url(images/background.gif) 
          top left;
       font-size: 105%;
       padding:   15px;
       margin:    0px 330px 10px 10px;
}

#footer {
         color:            #efe5d0;
         text-align:       center;
         padding:          15px;
         font-size:        50%;
         margin:           30px 0 0 0;
         clear:            left;
}


a:link {
        color: #b76666;
        text-decoration: none;
        border-bottom: thin dotted #b76666;
}

a:visited {
           color: #675c47;
           text-decoration: none;
           border-bottom: thin 
                          dotted  
                          #675c47;
}
